In [55]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [58]:
df = pd.DataFrame(columns=['name', 'price', 'size', 'storage', 'ram', 'battery'])
df.head()

Empty DataFrame
Columns: [name, price, size, storage, ram, battery]
Index: []

In [59]:
for i in range(1, 16):
    file = requests.get(f"https://www.epey.com/akilli-telefonlar/e/Tjtfczo5OiJmaXlhdDpBU0MiOw==/{i}").text
    soup = BeautifulSoup(file, "lxml")
    ul = soup.find_all('ul', attrs={'class': 'metin row'})
    
    for row in ul:
        name = row.find('a', attrs={'class': 'urunadi'}).text
        price = row.find('li', attrs={'class': 'fiyat cell'}).a.text.split()[0].replace('.', ',')
        size = row.find('li', attrs={'class': 'ozellik ozellik1 cell'}).text.split()[0]
        storage = row.find('li', attrs={'class': 'ozellik ozellik21 cell'}).text.split()[0]
        ram = row.find('li', attrs={'class': 'ozellik ozellik14 cell'}).text.split()[0]
        battery = row.find('li', attrs={'class': 'ozellik ozellik7 cell'}).text.split()[0]
        
        df.loc[len(df)] = [name, price, size, storage, ram, battery]

In [60]:
df.head()

                        name   price size storage  ram battery
0  Nokia X (2014) (Çift SIM)  439,00  4.0       4  512    1500
1     Samsung Galaxy S3 Mini  599,99  4.0       8    1    1500
2          Samsung Galaxy S3  699,00  4.8      16    1    2100
3     Samsung Galaxy S4 Mini  749,99  4.3       8  1.5    1900
4          Samsung Galaxy S4  829,99  5.0      16    2    2600

In [61]:
df.tail()

                        name      price size storage ram battery
490  Apple iPhone 11 Pro Max  15,669,22  6.5     256   4    3969
491      Apple iPhone 12 Pro  15,999,00  6.1     256   6    2815
492      Apple iPhone 12 Pro  17,999,00  6.1     512   6    2815
493   Samsung Galaxy Z Fold2  17,999,90  6.2     256  12    4500
494           Huawei Mate Xs  29,999,00  6.6     512   8    4500

In [62]:
df.to_csv('data.csv')